<!DOCTYPE html>
<html>
<head>
  <title>Vakiopaine</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'jquery' %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="body">

<% if @sidebar_image_url %>
  <div id="page">
    <div id="page_row">
      <div id="page_navigation" style="background-image: url(<%= @sidebar_image_url %>);">
        <span><%= link_to 'Takaisin', '/', :class => "back" %></span>
      </div>
      <div id="page_content">
        <%= yield %>
      </div>
      <div class="spacer"></div>
    </div>
  </div>
</div>
<% else %>
<%= yield %>
<% end %>

</body>
</html>
